*.o
*.ll
*.bc
/dist/
examples/jump/src/
.bootstrap/
build/
**/.scuzz/
*.png
!examples/**/goldens/**/*.png
.DS_Store
*.a
*.so
*.dylib
*.exe
/tmp/
*.actual.png
*.swp
.idea/
.vscode/
.gradle/
local.properties
.cxx/
.externalNativeBuild/
captures/
*.apk
*.aab
*.iml
third_party/skia/prebuilt/

scratchpad/
