/target/
**/*.rs.bk
*.o
*.ll
*.bc
/dist/
/.scalui/
*.png
!examples/**/goldens/**/*.png
.DS_Store
examples/**/build/
compiler-scalui/build/
compiler-scalui/.scalui/
examples/**/.scalui/
crates/runtime/build/
crates/ffi-skia/build/
crates/embedder-desktop/build/
crates/embedder-mobile/build/
*.a
*.so
*.dylib
*.exe
/tmp/
*.actual.png
*.swp
.idea/
.vscode/
